* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    margin: 5 2px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    /* font-weight: bold; */
    color: #f5c2e7;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
    padding: 5 15px;
    margin: 4 4px;
    background: #1e1e2e;
    border-radius: 15px;
}

#clock {
    /* font-weight: bold; */
    color: #f5c2e7;
}

#battery {
    color: #a6e3a1
}

#battery icon {
    color: red;
}

/* #battery.charging {} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: orange;
}


#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #94e2d5;
}

#memory {
    color: #f2cdcd
}

#network {
    color: #89dceb
}

#network.disconnected {
    /* background: #f53c3c; */
    /* border: 2px solid #7f11e0; */
    color: #f38ba8;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.muted {
    color: #45475a;
}

/* #tray {} */
